<footer class="site-footer">
	<div id="footer">
		<p class="copy">Copyright © 2014　Quantum Biosystems All Rights Reserved.</p>
		<ul class="clearfix">
			<li id="fm_01">
				<a href="http://www.facebook.com/share.php?u=www.quantumbiosystems.com/" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;">
					<img src="/assets/img/btn_footer_facebook.png" alt="Facebook" class="imgfade" style="opacity: 1;">
				</a>
			</li>
			<li id="fm_02">
				<a href="http://twitter.com/share?text=Quantum BiosSystems Inc.&#10;&amp;url=http://www.quantumbiosystems.com/" target="_blank">
					<img src="/assets/img/btn_footer_twitter.png" alt="twitter" class="imgfade" style="opacity: 1;">
				</a>
			</li>
			<li id="fm_03">
				<a href="mailto:info@quantumbiosystems.com">
					<img src="/assets/img/btn_footer_mail.png" alt="mail" class="imgfade" style="opacity: 1;">
				</a>
			</li>
		</ul>
		<p class="dir_des">
			WEB SITE Design Directed by <a href="http://www.sbx-corp.com/" target="_blank">SBX</a> / Designed by <a href="http://www.flower-robotics.com/" target="_blank">Flower Robotics</a>
		</p>
	</div>
</footer>