<header>
  <!-- ▼▼▼▼▼PC HEADER▼▼▼▼▼ -->
  <div id="header" class="clearfix" role="banner">
    <h1>
    <a href="/">
      <span>
        Quantum Biosystems
      </span>
    </a>
    </h1>
    <div id="gnavi">
      <ul class="clearfix">
        <li id="gn_09" class="each_navi" style="display: none;">
          <a href="javascript:void(0)">
            ENGLISH
          </a>
        </li>
        <li id="gn_08" class="each_navi">
          <a href="javascript:void(0)">
            JAPANESE
          </a>
        </li>
        <li id="gn_07" class="each_navi">
          <a href="mailto:info@quantumbiosystems.com">
            <img src="/assets/img/common/btn_mail.png" alt="mail" class="imgfade">
          </a>
        </li>
        <li id="gn_06" class="each_navi">
          <a href="https://twitter.com/quantumbiosys" target="_blank">
            <img src="/assets/img/common/btn_twitter.png" alt="twitter" class="imgfade">
          </a>
        </li>
        <li id="gn_05" class="each_navi">
          <a href="https://www.facebook.com/pages/Quantum-Biosystems/176326579228308" target="_blank">
            <img src="/assets/img/common/btn_facebook.png" alt="Face Book" class="imgfade">
          </a>
        </li>
        <li id="gn_03" class="each_navi">
          <a href="/news" class="imgfade">
            NEWS
          </a>
        </li>
   
        <li id="gn_02" class="each_navi">
          <a href="/about/info" class="imgfade">
            ABOUT US
          </a>
          <ul class="sub_menu2" style="display: none;">
            <li>
              <a href="/about/info" class="imgfade">
                CORPORATE INFO
              </a>
            </li>
            <li>
              <a href="/about/team" class="imgfade">
                OUR TEAM
              </a>
            </li>
       
            <li>
              <a href="/about/join" class="imgfade">
                JOIN US
              </a>
            </li>
          </ul>
        </li>
        <li id="gn_01" class="each_navi">
          <a href="javascript:void(0)" class="btn imgfade">
            FEATURES
          </a>
          <ul class="sub_menu" style="display: none;">
            <li>
              <a href="/features/vision" class="imgfade">
                VISION
              </a>
            </li>
            <li>
              <a href="/features/innovation" class="imgfade">
                INNOVATION
              </a>
            </li>
            <li>
              <a href="/features/tech" class="imgfade">
                TECHNOLOGY
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- ▲▲▲▲▲PC HEADER▲▲▲▲▲ -->

  <!-- ▼▼▼▼▼SMART PHONE HEADER▼▼▼▼▼ -->
  <div id="sph_header" class="clearfix">
    <div id="logo"><a href="/"><img src="/assets/img/common/sph_logo.png" alt="Quantum Biosystems" /></a></div>
    <div id="menu_box">
      <ul class="clearfix">
        <li id="sphn_03"><a href="javascript:void(0)"><img src="/assets/img/common/sph_btn_menu.png" alt="MENU" /></a></li>
        <li id="sphn_02"><a href="javascript:void(0)">ENGLISH</a></li>
        <li id="sphn_01"><a href="javascript:void(0)">JAPANESE</a></li>
      </ul>
    </div>
  </div><!-- /#sph_header -->
  <div id="sph_navi">
    <ul>
      <li id="sph_sm01" class="each_navi">
        <a href="javascript:void(0)" class="btn">FEATURES</a>
        <ul class="sub_menu">
          <li><a href="/features/vision">VISION</a></li>
          <li><a href="/features/innovation">INNOVATION</a></li>
          <li><a href="/features/tech">TECHNOLOGY</a></li>
        </ul>
      </li>
      <li id="sph_sm02" class="each_navi">
        <a href="javascript:void(0)">ABOUT US</a>
        <ul class="sub_menu">
          <li><a href="/about/info">CORPORATE INFO</a></li>
          <li><a href="/about/team">OUR TEAM</a></li>
          <li><a href="/about/aproach">OUR APPROACH</a></li>
          <li><a href="/about/join">JOIN US</a></li>
        </ul>
      </li>
      <li id="sph_sm03" class="each_navi"><a href="/get_involved">GET INVOLVED</a></li>
      <li id="sph_sm04" class="each_navi"><a href="/news">NEWS</a></li>
      <li id="sph_sm05" class="each_navi"><a href="/about/contact">CONTACT US</a></li>
    </ul>
  </div><!-- /#sph_navi -->
  <!-- ▲▲▲▲▲SMART PHONE HEADER▲▲▲▲▲ -->
</header>
<div id="btn_pagetop">
  <a href="#topline">
    PAGE TOP
  </a>
</div>
