<header>
  <div id="header" class="clearfix" role="banner">
    <h1>
    <a href="/">
      <span>
        Quantum Biosystems
      </span>
    </a>
    </h1>
    <div id="gnavi">
      <ul class="clearfix">
        <li id="gn_09" class="each_navi" style="display: none;">
          <a href="javascript:void(0)">
            ENGLISH
          </a>
        </li>
        <li id="gn_08" class="each_navi">
          <a href="javascript:void(0)">
            JAPANESE
          </a>
        </li>
        <li id="gn_07" class="each_navi">
          <a href="mailto:info@quantumbiosystems.com">
            <img src="/assets/img/common/btn_mail.png" alt="mail" class="imgfade">
          </a>
        </li>
        <li id="gn_06" class="each_navi">
          <a href="https://twitter.com/quantumbiosys" target="_blank">
            <img src="/assets/img/common/btn_twitter.png" alt="twitter" class="imgfade">
          </a>
        </li>
        <li id="gn_05" class="each_navi">
          <a href="https://www.facebook.com/pages/Quantum-Biosystems/176326579228308" target="_blank">
            <img src="/assets/img/common/btn_facebook.png" alt="Face Book" class="imgfade">
          </a>
        </li>
        <li id="gn_03" class="each_navi">
          <a href="/news/" class="imgfade">
            NEWS
          </a>
        </li>
        <li id="gn_10" class="each_navi">
          <a href="/get_involved/" class="imgfade">
            GET INVOLVED
          </a>
        </li>
        <li id="gn_02" class="each_navi">
          <a href="/about/info" class="imgfade">
            ABOUT US
          </a>
          <ul class="sub_menu2" style="display: none;">
            <li>
              <a href="/about/info" class="imgfade">
                CORPORATE INFO
              </a>
            </li>
            <li>
              <a href="/about/team/" class="imgfade">
                OUR TEAM
              </a>
            </li>
            <li>
              <a href="/about/approach/" class="imgfade">
                OUR APPROACH
              </a>
            </li>
            <li>
              <a href="/about/join/" class="imgfade">
                JOIN US
              </a>
            </li>
          </ul>
        </li>
        <li id="gn_01" class="each_navi">
          <a href="javascript:void(0)" class="btn imgfade">
            FEATURES
          </a>
          <ul class="sub_menu" style="display: none;">
            <li>
              <a href="/features/vision/" class="imgfade">
                VISION
              </a>
            </li>
            <li>
              <a href="/features/innovation/" class="imgfade">
                INNOVATION
              </a>
            </li>
            <li>
              <a href="/features/tech/" class="imgfade">
                TECHNOLOGY
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
<div id="btn_pagetop">
  <a href="#topline">
    PAGE TOP
  </a>
</div>