@charset "utf-8";

/* parts.scss */

/* 1.----------------------------------------- */

/* 2.----------------------------------------- */

/* 3.----------------------------------------- */

/* 4.----------------------------------------- */

/* 5.----------------------------------------- */

/* 6.----------------------------------------- */

/* 7.----------------------------------------- */





/* 1.----------------------------------------- */
.top_contents {
	background-color:#f6f6f6;
	padding:58px 0 73px 0;
}

.top_contents .inner {
	max-width:980px;
	margin:0 auto;
}

.top_contents ul {
	margin-left:-30px;
}

.top_contents li {
	float:left;
	padding:0 0 30px 30px;
	position:relative;
	width:306px;
}

.top_contents li img {
	vertical-align:bottom;
	width:100%;
	height:auto;
}

.top_contents li a {
	display:block;
	height:306px;
	text-decoration:none;
}

.top_contents li .ex_cont {
	color:#ffffff;
	font-size:14px;
	padding:0 20px 20px 20px;
	position:absolute;
	bottom:30px;
}

.top_contents li .title {
	font-family: 'Muli', sans-serif;
	font-size:30px;
}

.top_contents li#tc_02 .nl {
	background-color:#e4e4e2;
	height:306px;
	position:relative;
}

.top_contents li#tc_02 .nl_title {
	color:#000000;
	font-family: 'Muli', sans-serif;
	font-size:32px;
	padding-top:37px;
	text-align:center;
}

.top_contents li#tc_02 ul {
	position:absolute;
	bottom:15px;
	margin:0;
}

.top_contents li#tc_02 ul li {
	float:none;
	font-family: 'Muli', sans-serif;
	font-size:13px;
	padding:0 18px;
	position:relative;
	width:270px;
}

.top_contents li#tc_02 ul li .news_title2 {
	font-size:18px;
}

.top_contents li#tc_02 ul li .news_title2.jp {
	font-size:16px;
}

.top_contents li#tc_02 a {
	display:inline;
	height:auto;
	text-decoration:underline;
}

.top_contents li#tc_02 a:hover {
	text-decoration:none;
}

.top_contents li#tc_02 ul li .date {
	font-weight:bold;
}

.top_contents li#tc_06 a {
	background:url(/assets/img/top/bg_get.png) no-repeat 0 0;
	background-size:306px 306px;
	color:#0b0b0b;
	font-family: 'Muli', sans-serif;
	font-size:32px;
	height:216px;
	line-height:1.2em;
	padding-top:90px;
	text-align:center;
	text-decoration:none;
}

.top_contents li#tc_07 a {
	background:url(/assets/img/top/bg_join_us.jpg) no-repeat 0 0;
	background-size:306px 306px;
	color:#000000;
	font-family: 'Muli', sans-serif;
	font-size:32px;
	height:263px;
	line-height:1.2em;
	padding-top:43px;
	text-align:center;
	text-decoration:none;
}

.top_contents li#tc_08 a {
	background-color:#000000;
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:32px;
	height:173px;
	line-height:1.2em;
	padding-top:133px;
	text-align:center;
	text-decoration:none;
}

.top_contents li#tc_09 a {
	background:url(/assets/img/top/bg_contact.jpg) no-repeat 0 0;
	background-size:306px 306px;
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:32px;
	height:173px;
	line-height:1.2em;
	padding-top:133px;
	text-align:center;
	text-decoration:none;
}


/* 1.------------------END-------------------- */




/* 2.----------------------------------------- */
.flexslider{
margin: 0 auto;
}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles
*********************************/
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative; zoom: 1; z-index:20}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; top: 35%;/* background: rgba(0,0,0,.3);*/ color: #fff; text-shadow: 2px 3px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 1.5em;
text-align:center; font-family: 'Muli', sans-serif; font-size:20px;}
.flex-caption span {font-size:50px;}
.flex-caption .btn_more {text-align:center; padding-top:40px;}
.flex-caption .btn_more img {width:auto; margin:0 auto; display:inline;}
/* 横の次へ前へのナビゲーション */
.flex-direction-nav li a {width: 30px; height: 52px;  display: block;position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .flex-next {right: 2%; background:url(/assets/img/top/arrow_r.png) no-repeat 0 0; }
.flex-direction-nav li .flex-prev {left: 2%; background: url(/assets/img/top/arrow_l.png) no-repeat 0 0; }
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
/* 下のナビゲーション */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; /*background: url(images/bg_control_nav.png) no-repeat 0 0;*/ cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}
/* 2.------------------END-------------------- */




/* 3.----------------------------------------- */
#news_title {
	position:relative;
	line-height: 0px;
}

#news_title img {
	width:100%;
}

#news_title h2 {
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:50px;
	text-align:center;
	text-shadow: 2px 3px 0 rgba(0,0,0,.3);
	position:absolute;
	top:35%;
	width:100%;
	display:none;
}

#news_contents {
	padding:0 30px 40px 40px;
	font-family: 'Muli', sans-serif;
}

#news_contents li {
	padding:0 0 30px 0;
}

#news_contents .date {
	background-color:#000000;
	color:#ffffff;
	font-size:13px;
	padding:1px 18px 0px 18px;
	width:7em;
	text-align:center;
}

#news_contents li .title {
	padding-top:10px;
	width:590px;
	float:right;
}

#news_contents li .title .news_title2 {
	padding-bottom:20px;
}

#news_contents li .title .news_title2 a {
	font-size:24px;
}

#news_contents li .title2 {
	font-size:18px;
	padding-top:10px;
}

#news_contents li .title a {
	font-size:18px;
}

#news_contents li .title .news_title2.jp a {
	font-size:20px;
}

#news_contents li .title p.jp a {
	font-size:14px;
}

#news_contents li .thm {
	width:300px;
	float:left;
	padding-top:10px;
}

#news_contents li .thm img {
	width:100%;
}

#contents_box h3#nd_title {
	font-family: 'Muli', sans-serif;
	font-size:30px;
}

#contents_box .photo {
	padding-top:30px;
	text-align:center;
	float:left;
	width:380px;
	padding:30px 30px 5px 0;
}

#contents_box .ex {
	padding-top:30px;
	font-family: 'Muli', sans-serif;
	font-size:16px;
}

#contents_box .photo img {
	width:100%;
}
/* 3.------------------END-------------------- */




/* 4.----------------------------------------- */
#ot_title {
	position:relative;
	z-index:20;
	line-height: 0px;
}

#ot_title img {
	width:100%;
}

#ot_title h2 {
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:50px;
	text-align:center;
	text-shadow: 2px 3px 0 rgba(0,0,0,0.3);
	text-transform: uppercase;
	position:absolute;
	top:35%;
	width:100%;
	display:none;
}

#ot_title h2 span {
	text-transform: none;
	font-size:20px;
}

.ot_contents {
	padding:0 40px 30px 40px;
	font-size:14px;
}
/* 4.------------------END-------------------- */





/* 5.----------------------------------------- */
.jot_cont {
	font-size:16px;
	text-align:center;
	padding:0 50px 70px 50px;
}



.jo_cont {
	padding:0 50px 50px 50px;
}

.jo_cont li {
	font-size:16px;
	padding:0 0 25px 0;
}

.jo_cont li .title {
	font-size:23px;
}

.jo_cont li .title span {
	font-size:16px;
}

.jo_cont .jo_att {
	font-size:16px;
	padding:10px 0 20px 0;
}

.jo_cont .jo_att p {
	padding-bottom:10px;
}

#contents_box .team_cont {
	padding:0 30px 60px 30px;
}

#contents_box .team_cont h4 {
	text-align:center;
	padding-bottom:0px;
}

#contents_box .team_cont .left {
	float:left;
	padding:45px 0 0 0;
	text-align:center;
	width:435px;
}

#contents_box .team_cont .right {
	float:right;
	padding:45px 0 0 0;
	text-align:center;
	width:435px;
}

#contents_box .team_cont .photo {
	float:none;
	margin:0 auto;
	padding:0;
	width:150px;
}

#contents_box .team_cont .name {
	font-size:22px;
	padding-top:15px;
}

#contents_box .team_cont .post {
	font-size:13px;
	padding-top:10px;
}

#contents_box .team_cont .prof {
	font-size:13px;
	padding-top:15px;
}

#oa_bot_cont {
	background:url(/assets/img/about/bg_approach_bottom.jpg) #f6f6f6 no-repeat 0 0;
	background-size:130% 130%;
}

#oa_bot_cont .inner {
	color:#f2f2f2;
	font-size:16px;
	margin:0 auto;
	padding:30px 0 50px 0;
	width:934px;
}

#oa_bot_cont .inner h4 {
	font-size:24px;
	padding-top:40px;
}

#ci_cont {
	padding:0 30px 60px 30px;
}

#ci_cont .left {
	float:left;
	width:430px;
}

#ci_cont .right {
	float:right;
	width:430px;
}

#ci_cont .cieb {
	font-size:14px;
	padding-bottom:30px;
}
	
/* 5.------------------END-------------------- */





/* 6.----------------------------------------- */
#vision_box {
	background-color:#000000;
}

#vision_box .inner {
	color:#ffffff;
	margin:0 auto;
	max-width:980px;
}

#vision_box .inner .left {
	float:left;
	padding:80px 0 95px 69px;
	width:118px;
}

#vision_box .inner .right {
	float:right;
	font-size:16px;
	padding:80px 0 95px 0;
	width:730px;
}

#vision_box .inner .right h3 {
	font-family: 'Muli', sans-serif;
	font-size:35px;
	padding-bottom:20px;
}

#vision_image_box {
	overflow:hidden;
	position:relative;
}

#vision_image {
	background:url(/assets/img/feature/vision_image.jpg) no-repeat left top;
	background-size:100% auto;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

#vision_image_box img {
	width:100%;
}

#vision_nk {
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:50px;
	text-align:center;
	position:absolute;
	top:50%;
	text-shadow: 2px 3px 0 rgba(0,0,0,.3);
	width:100%;
}

#vision_bot {
	background-color:#f6f6f6;
}

#vision_bot .inner {
	font-size:16px;
	margin:0 auto;
	max-width:950px;
	padding:55px 15px 85px 15px;
	text-align:center;
}

#vision_bot .inner h3 {
	font-family: 'Muli', sans-serif;
	font-size:24px;
	padding-bottom:30px;
}

#innovation_box {
	background-color:#000000;
	color:#ffffff;
}

#innovation_box .inner {
	font-size:16px;
	max-width:956px;
	margin:0 auto;
	text-align:center;
	padding:45px 0 65px 0;
}

#innovation_box .inner h3 {
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:36px;
	padding-bottom:50px;
}

#innovation_box .inner h4 {
	font-family: 'Muli', sans-serif;
	font-size:24px;
	padding-bottom:25px;
}

#innovation_image1_box,
#innovation_image2_box,
#technology_image1_box {
	overflow:hidden;
	position:relative;
}

#innovation_image1,
#innovation_image2,
#technology_image1 {
	background:url(/assets/img/feature/innovation_image1.jpg) no-repeat left top;
	background-size:100% auto;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

#innovation_image2 {
	background:url(/assets/img/feature/innovation_image2.jpg) no-repeat left top;
	background-size:100% auto;
}

#innovation_image1_box img,
#innovation_image2_box img,
#technology_image1_box img {
	width:100%;
}

.innovation_mid {
	background-color:#f6f6f6;
}

.innovation_mid .inner {
	font-size:16px;
	max-width:950px;
	margin:0 auto;
	text-align:center;
	padding:80px 0 70px 0;
}

.innovation_mid .inner h2 {
	font-family: 'Muli', sans-serif;
	font-size:36px;
	padding-bottom:10px;
}

.innovation_mid .inner h3 {
	font-family: 'Muli', sans-serif;
	font-size:24px;
	padding:50px 0 30px 0;
}

.innovation_mid .inner h4 {
	font-family: 'Muli', sans-serif;
	font-size:22px;
	padding:50px 0 15px 0;
}

.innovation_mid .inner .innovation_bot1 {
	padding:70px 0 40px 0;
}

.innovation_mid .inner .innovation_bot2 {
	font-size:14px;
	padding-bottom:20px;
}

#technology_box1 .inner {
	font-size:16px;
	max-width:980px;
	margin:0 auto;
	text-align:center;
	padding:80px 0 100px 0;
}

#technology_box1 .inner h3 {
	font-family: 'Muli', sans-serif;
	font-size:40px;
	padding:0 0 60px 0;
}

#technology_box1 .inner h4 {
	font-family: 'Muli', sans-serif;
	font-size:30px;
	padding:0 0 60px 0;
}

#technology_box1 .inner img,
.technology_box2 .inner img,
#technology_box3 .inner img {
	width:100%;
}

#technology_box1 .inner .tb1_in {
	padding:70px 40px 45px 40px;
}

.technology_box2 {
	background-color:#f6f6f6;
}

.technology_box2 .inner {
	font-size:16px;
	max-width:980px;
	margin:0 auto;
	text-align:center;
	padding:90px 0 10px 0;
}

.technology_box2 .inner h3 {
	font-family: 'Muli', sans-serif;
	font-size:30px;
	padding:0;
}

.technology_box2 .inner .tb2_in {
	padding:60px 40px 50px 40px;
}


#technology_box3 {
	background-color:#000000;
}

#technology_box3 .inner {
	color:#ffffff;
	font-size:16px;
	max-width:910px;
	margin:0 auto;
	text-align:center;
	padding:80px 0 70px 0;
}

#technology_box3 .inner h3 {
	font-family: 'Muli', sans-serif;
	font-size:30px;
}

#technology_box3 .inner .tb3_in {
	padding:50px 0 35px 0;
}

#technology_box3 .inner .photo {
	float: none;
	margin:0 auto;
	width:372px;
}

#technology_image1 {
	background:url(/assets/img/feature/technology_image.jpg) no-repeat left top;
	background-size:100% auto;
}

.technology_box2 h2 {
	font-family: 'Muli', sans-serif;
	font-size:40px;
	padding:0 0 60px 0;
}

.technology_box2 .left {
	float:left;
	padding:0 0 75px 65px;
	width:410px;
	font-family: 'Muli', sans-serif;
}

.technology_box2 .right {
	float:right;
	padding:0 65px 75px 0;
	width:410px;
	font-family: 'Muli', sans-serif;
}

.technology_box2 .inner .photo {
	margin:0 auto;
	padding:65px 0 80px 0;
	width:410px;
	font-family: 'Muli', sans-serif;
}

.tech_footlink {
	padding:60px 0 60px 0;
}

.tech_footlink p {
	background-color:#000;
	padding:15px 0 15px 0;
	text-align:center;
}

.tech_footlink a {
	color:#ffffff;
	font-family: 'Muli', sans-serif;
	font-size:30px;
}
/* 6.------------------END-------------------- */





/* 7.----------------------------------------- */
.gi_cont {
	padding:0 50px 70px 50px;
	font-size:16px;
}

#btn_data {
	text-align:center;
	padding-bottom:70px;
}

#data_form {
	display:none;
}

#data_form table {
	text-align:center;
	margin:0 auto;
}

#data_form table th {
	font-family: 'Muli', sans-serif;
	font-size:18px;
	text-align:right;
	padding:0 22px 0 0;
	vertical-align:middle;
}

#data_form table td {
	padding:10px 120px 10px 0;
	width:454px;
}

#data_form table td input.data_in {
	border:1px solid #ffffff;
	background-color:#ffffff;
	font-size:16px;
	height:42px;
	width:454px;
}

#data_form table td.agree_td {
	text-align:right;
}

#data_form table td #agree {
	background-color:#ffffff;
	font-size:11px;
	overflow-y:scroll;
	height:180px;
	width:444px;
	padding:10px 0 10px 10px;
	margin:0 0 0 auto;
	text-align:left;
}

#data_form table td #check_agree_box {
	margin:0 0 0 auto;
	padding-top:10px;
	text-align:left;
	width:454px;
}

#data_form table td #check_agree {
	vertical-align:-2px;
	margin-right:5px;
}

#data_form table td #btn_submit {
	padding:25px 0 60px 0;
}

#data_form table td.agree_td div.wpcf7-validation-errors {
	border: 2px solid #F00;
	text-align:center;
}

/* 7.------------------END-------------------- */




.test01 {
	background-color:#f6f6f6;
	padding:58px 0 73px 0;
}

.test01 .inner {
	max-width:980px;
	margin:0 auto;
}

.test01 ul {
	margin-left:-30px;
}

.test01 li {
	float:left;
	padding:0 0 30px 30px;
}

.design {
	text-align:right;
	padding:0 40px 30px 0;
}

#slide {
	position:relative;
}

#slide .slides_container {
	width:100%;
}

#slide .slides_container div {
    width:100%;
    height:auto;
    display: block;
}

#slide .slides_container div img {
	width:100%;
}

#slide .next {
	position:absolute;
	top:346px;
	right:15px;
	z-index:10;
}

#slide .prev {
	position:absolute;
	top:346px;
	left:15px;
	z-index:10;
}

.test {
	font-family: 'Muli', sans-serif;
	font-weight:bold;
}
