---
layout: about_page
title: Our Team
permalink: /about/team
---
<h3>Our Team</h3>
<div class="team_cont">
	<h4>
	Management
	</h4>
	{% assign members = site.data.team.executives.members %}
	{% assign rows = members.size | divided_by: 2.0 | ceil %}
	{% for i in (1..rows) %}
		{% assign offset = forloop.index0 | times: 2 %}
		<div class="clearfix">

			{% for member in members limit:1 offset:offset %}
			<div class="left">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>

				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

			{% capture rightOffset %}
				{{ offset | plus: 1 }}
			{% endcapture %}
			{% for member in members limit:1 offset:rightOffset %}
			<div class="right">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

		</div>
	{% endfor %}

	<h4 class="maT70">
	R&amp;D leaders
	</h4>
	{% assign members = site.data.team.rnd.members %}
	{% assign rows = members.size | divided_by: 2.0 | ceil %}
	{% for i in (1..rows) %}
		{% assign offset = forloop.index0 | times: 2 %}
		<div class="clearfix">

			{% for member in members limit:1 offset:offset %}
			<div class="left">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

			{% capture rightOffset %}
				{{ offset | plus: 1 }}
			{% endcapture %}
			{% for member in members limit:1 offset:rightOffset %}
			<div class="right">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

		</div>
	{% endfor %}

	<h4 class="maT70">
	Business team
	</h4>
	{% assign members = site.data.team.business.members %}
	{% assign rows = members.size | divided_by: 2.0 | ceil %}
	{% for i in (1..rows) %}
		{% assign offset = forloop.index0 | times: 2 %}
		<div class="clearfix">

			{% for member in members limit:1 offset:offset %}
			<div class="left">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

			{% capture rightOffset %}
				{{ offset | plus: 1 }}
			{% endcapture %}
			{% for member in members limit:1 offset:rightOffset %}
			<div class="right">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="post">
					<p class="en">{{ member.title-en | escape }}</p>
					<p class="jp" style="display: none;">{{ member.title-jp | escape }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
					</p>
				</div>
				
			</div>
			{% endfor %}

		</div>
	{% endfor %}

	<h4 class="maT70">
	Scientific Advisors
	</h4>
	{% assign members = site.data.team.sciadvisors.members %}
	{% assign rows = members.size | divided_by: 2.0 | ceil %}
	{% for i in (1..rows) %}
		{% assign offset = forloop.index0 | times: 2 %}
		<div class="clearfix">

			{% for member in members limit:1 offset:offset %}
			<div class="left">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
						<br>
						<br>
						<a href="{{ member.dept-link }}" target="_blank">{{ member.dept-desc-en }}</a>
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
						<br>
						<br>
						<a href="{{ member.dept-link }}" target="_blank">{{ member.dept-desc-jp }}</a>
					</p>
				</div>
				
			</div>
			{% endfor %}

			{% capture rightOffset %}
				{{ offset | plus: 1 }}
			{% endcapture %}
			{% for member in members limit:1 offset:rightOffset %}
			<div class="right">
				<div class="photo"><img src={{ member.image }} alt="{{ member.name-en }}"></div>
				<div class="name">
					<p class="en">{{ member.name-en }}</p>
					<p class="jp" style="display: none;">{{ member.name-jp }}</p>
				</div>
				
				<div class="prof">
					<p class="en">
						{{ member.about-en }}
						<br>
						<br>
						<a href="{{ member.dept-link }}" target="_blank">{{ member.dept-desc-en }}</a>
					</p>
					<p class="jp" style="display: none;">
						{{ member.about-jp }}
						<br>
						<br>
						<a href="{{ member.dept-link }}" target="_blank">{{ member.dept-desc-jp }}</a>
					</p>
				</div>
				
			</div>
			{% endfor %}

		</div>
	{% endfor %}
</div>
