---
layout: default
---
<script type="text/javascript" src="{{ "/assets/js/jquery/jquery.inview.min.js" | relative_url }}"
	  integrity="sha256-UcelJDh5VrbH55hJ0NMce9bsWnsP9vg4lJ5Bun8DtEE="
	  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery/jquery.scrollParallax.min.js" | relative_url }}"
	  integrity="sha256-0T7qjnJ4ijONLRBK8QZI3b08AU09HvdnFgAFmFmfxJc="
	  crossorigin="anonymous"></script>
<script type="text/javascript" integrity="sha256-Z9FUi31O07vObY+dTSA9ajBZv6PAKcQoM9rylk02KaY=">
$(function(){
    $('#oa_bot_cont').scrollParallax({'speed': 0.4});
});
</script>

<div id="ot_title">
	<img src="{{ page.title-image | escape }}" alt="{{ page.title | escape }}">
	<h2 id="vision" style="display: block;">
	{{ page.title | escape }}<br>
	<span class="en">
		{{ page.byline-en | escape }}
	</span>
	<span class="jp" style="display: none;">
		{{ page.byline-jp | escape }}
	</span>
	</h2>
</div>
{{ content }}